# Logs
logs
*.log
npm-debug.log*

node_modules
dist

# Editor directories and files
!.vscode/extensions.json

# tailwindcss
frontend/src/assets/output.css

# tanstack generated routes
routeTree.gen.ts
routeTree.gen.js
.tanstack

# backend
.env
backend/bin
backend/tmp

# go testdata
backend/cmd/*/testdata

# generated html email templates
backend/emails/out