{
	auto_https disable_redirects
}

https://reservations.local:3000 {
	tls internal

	handle /api/* {
		reverse_proxy 127.0.0.1:8080
	}

	handle {
		reverse_proxy 127.0.0.1:5174
	}
}

https://app.reservations.local:3000 {
	tls internal

	handle /api/* {
		reverse_proxy 127.0.0.1:8080
	}

	handle {
		reverse_proxy 127.0.0.1:5173
	}
}
