@import "tailwindcss";

@config '../../../tailwind.config.js';

:root {
  --primary: 66, 90, 190;
  --hvr-primary: 56, 77, 163;
  --secondary: 210, 151, 190;
  --hvr-secondary: 189, 136, 171;
  --accent: 226, 201, 102;
  --bg-color: 245, 246, 251;
  --layer-bg: 236, 238, 248;
  --text-color: 12, 14, 28;
  --hvr-gray: 209, 213, 219;
}

/* TEMP until the calendar is styled properly in dark mode */
.light {
  --primary: 66, 90, 190;
  --hvr-primary: 56, 77, 163;
  --secondary: 210, 151, 190;
  --hvr-secondary: 189, 136, 171;
  --accent: 226, 201, 102;
  --bg-color: 245, 246, 251;
  --layer-bg: 236, 238, 248;
  --text-color: 12, 14, 28;
  --hvr-gray: 209, 213, 219;
}

.dark {
  --primary: 99, 84, 176;
  --hvr-primary: 109, 95, 179;
  --secondary: 137, 57, 134;
  --hvr-secondary: 179, 71, 175;
  --accent: 206, 199, 64;
  --bg-color: 19, 18, 23;
  --layer-bg: 25, 25, 26;
  --text-color: 236, 236, 238;
  --hvr-gray: 31, 41, 55;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.toast-exit {
  animation: fadeOut 0.5s ease-in forwards;
}

.toast-enter-bottom {
  animation: slideUp 0.5s ease-out forwards;
}

.toast-enter-top {
  animation: slideDown 0.5s ease-out forwards;
}

/*
  temporary fix for calendar not resizing when sidepanel is collapsed
  this should be fixed in the upcoming version 7
*/
.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table,
.fc-timegrid-body,
.fc-timegrid-body table {
  width: 100% !important;
}

/*
  remove focus outline which appears when clicking on a chart
*/
.recharts-wrapper:focus,
.recharts-wrapper *:focus {
  outline: none !important;
}

.recharts-wrapper svg:focus {
  outline: none;
  stroke: none;
}
